<!-- Algolia docsearch https://community.algolia.com/docsearch/ -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script src="<%= @items['/assets/javascripts/docsearch.*'].path %>"></script>
